html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.inputs-div {
    height: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#line-size-input {
    background: transparent;
    border-radius: 10px;
    font-size: 20pt;
}

#logo {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}
