html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.inputs-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
}


#logo {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}
